# ========================

# OS & Editor

# ========================

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~

# ========================

# ENV / Secrets 

# ========================

.env
.env.*
*.key
*.pem
config.json

# ESP32 / Firmware secrets

firmware/config.h

# ========================

# Logs

# ========================

*.log



**pycache**/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env/
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/



node_modules/
dist/
build/
.env.local
.env.development
.env.production

# ========================

# AI Model & Dataset 

# ========================

data/
datasets/
model_AI/dataset/

# Model files

*.h5
*.pt
*.pth
*.onnx
*.tflite

# Dataset formats

*.csv

# ========================

# Runtime files (ảnh từ ESP32)

# ========================

uploads/
temp/
images/

# ========================

# Database

# ========================

*.db
*.sqlite3

# ========================

# Firmware build (ESP32/Arduino)

# ========================

*.bin
*.elf
*.map
.build/

# ========================

# C/C++

# ========================

build/
*.o
*.exe
*.pro.user




!*.webp
!*.png
!*.jpg
!*.jpeg
!*.gif

# Cho phép folder chứa ảnh hiển thị

!tomatoleaf/
!tomatoleaf/*
!src/frontend/images/
!src/frontend/images/*
